/*
Theme Name: Grüner Theme 2.1
Theme URI: http://design-quartier.de
Author: Jonas Buck
Author URI:
Description: Responsive Theme
Version: 2.1

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Font
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Alignments
# Clearings
# Widgets
# Content
  ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Custom Styles
	## Menus
	## BG-Slider
	## Content Tooltip
	## Pages
	## Navigation
	## DMO
# Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-family: MuseoSansBold, sans-serif;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

::placeholder {
	color: #fff;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-family: MuseoSansBold, sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}


/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/

@font-face{ /* for IE */
	font-family:MuseoSans;
	src:url(font/museosans100.eot);
	}
@font-face { /* for non-IE */
	font-family:MuseoSans;
	src:url(http://:/) format("No-IE-404"),url(font/museosans100.ttf) format("truetype");
	}

@font-face{ /* for IE */
	font-family:MuseoSansBold;
	src:url(font/museosans500.eot);
	}
@font-face { /* for non-IE */
	font-family:MuseoSansBold;
	src:url(http://:/) format("No-IE-404"),url(font/museosans500.ttf) format("truetype");
	}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: MuseoSans, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0;
	padding: 0;
}

dt {
	font-family: MuseoSansBold, sans-serif;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #333;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #ccc;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}


/*--------------------------------------------------------------
# Custom Styles
--------------------------------------------------------------*/
.logo {
	position: absolute;
	top: 2%;
	left: 2%;
	z-index: 888;
	cursor: pointer;
	max-width: 175px;
}
.logo.black {
	z-index: 9999;
}

body {
	background-color: #333;
}
	body.design-moebel-outlet {
		background-color: #00aead;
	}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-footer {
	position: absolute;
	bottom: 2%;
	right: 2%;
	font-size: 14px;
	color: #fff;
	z-index: 9999;
}
	.site-footer ul.menu {
		margin: 0;
		padding: 0;
	}
		.site-footer .menu li {
			display: inline;
			list-style-type: none;
			padding-right: 7px;
		}
			.site-footer .menu li:after {
				content:'\007C';
				margin-left: 12px;
			}
			.site-footer .menu li:last-child {
				padding-right: 0;
			}
				.site-footer .menu li:last-child:after {
					content:' ';
					margin-left: 0;
				}

/*--------------------------------------------------------------
## BG-Slider
--------------------------------------------------------------*/
.slides-navigation {
    top: 40% !important;
}
	.slides-navigation .prev, .slides-navigation .next {
		background-color: transparent;
		border: 0;
		color: transparent;
		font: 0/0 a;
		margin: 0 3%;
		pointer-events: auto;
		text-shadow: none;
		width: 40px;
		height: 75px;
		z-index: 3;
	}
		.slides-navigation .prev {
			background: url(img/pfeil_links.svg);
		}
		.slides-navigation .next {
			background: url(img/pfeil_rechts.svg);
		}
.slides-pagination {
	display: none;
}

.new-slides-pagination{
	position: absolute;
	bottom: 2%;
	left: 2%;
	font-size: 14px;
	color: #fff;
	z-index: 9999;
}
.new-slides-pagination .seperator{
	margin: 0 7px;
}

.mobile-bgslider {
    visibility: hidden;
}
.desktop-bgslider {
    visibility: visible;
}


@media only screen
  and (max-device-width: 640px) {

    .mobile-bgslider {
        visibility: visible;
    }
    .desktop-bgslider {
        visibility: hidden;
    }
  }


/*--------------------------------------------------------------
## Content Tooltip
--------------------------------------------------------------*/
.tooltip-wrapper {
	width: 1000px;
	position: absolute;
	bottom: 10px;
	z-index: 7777;
  position: absolute;
  left: 50%;
  margin: 0 0 50px -580px;
	display: block;
}
	.tooltip-content p:last-of-type, .tooltip-content p:only-child, .tooltip-content-fullscreen p:last-of-type, .tooltip-content-fullscreen p:only-child {
		margin-bottom: 0;
	}
.tooltip {
	float: right;
	width: 480px;
	background-image: url(img/plus.svg);
	background-repeat: no-repeat;
	background-position: bottom left;
  background-size: 80px 80px;
	padding: 0 0 55px 55px;
	min-height: 80px;
}
.tooltip-content {
	background-color:rgba(255,255,255,0.9);
	padding: 15px 20px;
	display: none;
}
	.tooltip-content .title, .tooltip-content-fullscreen .title, .termin-title{
    margin: 0 0 10px 0;
    padding: 0;
    font-family: MuseoSans, sans-serif;
		font-size: 19px;
		text-transform: uppercase;
	}
	.tooltip-content a, .tooltip-content-fullscreen a{
    color: #70b940;
	}
		.tooltip-content a:hover, .tooltip-content-fullscreen a:hover{
	    color: #333;
		}


	.tooltip-content .desc, .tooltip-content-fullscreen .desc{
    margin: 0 0 10px 0;
	}
	.tooltip-content .desc:last-of-type, .tooltip-content-fullscreen .desc:last-of-type{
    margin: 0;
	}
.tooltip-content-fullscreen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color:rgba(255,255,255,0.9);
  z-index: 6666;
	display: none;
}
	.tooltip-content-fullscreen .desc {
	width: 50%;
	position: absolute;
	bottom: 63px;
	right: 0;
	overflow: auto;
	padding:20px 40px 0;
	}
.tooltip-clickable {
	width: 120px;
	height: 120px;
	display: block;
	position: absolute;
	bottom: 0;
  margin-left: -70px;
  z-index: 9999;
	cursor: pointer;
}
.desc {
	max-height: 85%;
	overflow-x: hidden;
}



.lichtplanung .tooltip-wrapper, .kueche .tooltip-wrapper, .schreinerkueche .tooltip-wrapper, .bulthaup-kuechen .tooltip-wrapper, .leicht-kuechen .tooltip-wrapper {
	width: 0;
	bottom: 50px;
	z-index: 7777;
	position: absolute;
	display: block;
	right: 54%;
	left: auto;
	margin: 0;
}
.lichtplanung .tooltip, .kueche .tooltip, .schreinerkueche .tooltip, .bulthaup-kuechen .tooltip, .leicht-kuechen .tooltip {
	width: 80px;
	float: none;
}


/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
.slides-container.impressum .tooltip-content-fullscreen, .slides-container.datenschutz .tooltip-content-fullscreen, .slides-container.kontakt .tooltip-content-fullscreen{
	display: block;
}
.impressum .logo, .kontakt .logo{
	/*display: none;*/
}

.overflow-hidden {
	overflow: hidden;
}

.slides-container.impressum .tooltip, .slides-container.datenschutz .tooltip, .slides-container.kontakt .tooltip{
	background-image: url(img/kreuz.svg);
}

.neuigkeit, .jobs {
	margin-top: 20px;
}
.neuigkeit a, .jobs a {
	color: #70b940 !important;
	display: block;
}

.tax-herstellerkategorie .desc p {
	margin-top: 0;
}


/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.navigation {
	width: 100%;
	height: 100%;
	background-color:rgba(255,255,255,0.9);
	position: absolute;
	z-index: 8888;
	display: none;
	font-size: 18px;
}
.navigation a {
	color: #777;
}
	.navigation a.active, .navigation a:hover {
		color: #000;
	}
	.navigation ul {
		margin-left: 15px;
	}
	.navigation > ul > li {
		text-transform: uppercase;
	}
	.navigation > ul > li > ul > li {
		text-transform: lowercase;
	}
#navigation-list {
	margin-top: 200px;
	margin-left: 80px;
}
.navigation_hint {
	position: absolute;
	z-index: 9999;
	left: 220px;
	top: 13px;
	display: none;
}

.hersteller-list li {
  display: inline;
}
	.hersteller-list li:after {
	  content: ", ";
	}
	.hersteller-list li:last-child:after {
	    content: "";
	}

.socialmedia-icon {
	margin-top: 20px;
}

.socialmedia-icon a {
	margin-right: 5px;
	display: inline-block;
}
	.socialmedia-icon a:last-child {
		margin-right: 0px;
	}

.socialmedia-icon div {
	margin-right: 5px;
	height: 20px;
	width: 20px;
}
	.socialmedia-icon div.facebook {
		background: url('img/gruener_facebook.svg') no-repeat ;
	}
		.socialmedia-icon div.facebook:hover {
			background: url('img/gruener_facebook_active.svg') no-repeat ;
		}
	.socialmedia-icon div.instagram {
		background: url('img/gruener_instagram.svg') no-repeat ;
	}
		.socialmedia-icon div.instagram:hover {
			background: url('img/gruener_instagram_active.svg') no-repeat ;
		}
	.socialmedia-icon div.houzz {
		background: url('img/gruener_houzz.svg') no-repeat ;
	}
		.socialmedia-icon div.houzz:hover {
			background: url('img/gruener_houzz_active.svg') no-repeat ;
		}
	.socialmedia-icon div.newsletter {
		background: url('img/gruener_newsletter.svg') no-repeat ;
	}
		.socialmedia-icon div.newsletter:hover {
			background: url('img/gruener_newsletter_active.svg') no-repeat ;
		}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.site-footer a {
	color: #fff;
}
	.site-footer a:hover {
		color: #ccc;
	}

/*--------------------------------------------------------------
## NEWSLETTER
--------------------------------------------------------------*/

body.newsletter {
background: #53D14C;
}

body.termin, body.terminvereinbarung, body.terminvereinbarung-2, body.terminvereinbarung-3, body.terminvereinbarung-4, body.terminvereinbarung-5 {
background: #00546c;
}

body.gewinnspiel {
  background-color: #2e4358;
}


body.newsletter #mc4wp-form-1, body.gewinnspiel .wpcf7, body.termin .wpcf7, body.terminvereinbarung .wpcf7, body.terminvereinbarung-2 .wpcf7, body.terminvereinbarung-3 .wpcf7, body.terminvereinbarung-4 .wpcf7, body.terminvereinbarung-5 .wpcf7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
color: #fff;
}

body.newsletter #mc4wp-form-1, body.gewinnspiel .wpcf7, body.termin .wpcf7 {
text-transform: uppercase;
}

body.terminvereinbarung .wpcf7, body.terminvereinbarung-2 .wpcf7, body.terminvereinbarung-3 .wpcf7, body.terminvereinbarung-4 .wpcf7, body.terminvereinbarung-5 .wpcf7 {
text-transform: none;
}

body.terminvereinbarung .wpcf7 hr, body.terminvereinbarung-2 .wpcf7 hr, body.terminvereinbarung-3 .wpcf7 hr, body.terminvereinbarung-4 .wpcf7 hr, body.terminvereinbarung-5 .wpcf7 hr {
margin: -20px 0 30px;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0 1em;
}

body.terminvereinbarung .wpcf7 .button-wrapper:after,
body.terminvereinbarung-2 .wpcf7 .button-wrapper:after,
body.terminvereinbarung-3 .wpcf7 .button-wrapper:after,
body.terminvereinbarung-4 .wpcf7 .button-wrapper:after,
body.terminvereinbarung-5 .wpcf7 .button-wrapper:after {
	content: " ";
    display: block;
    clear: both;
	margin-bottom: 3em;
} 



body.terminvereinbarung .wpcf7 span.wpcf7-list-item,
body.terminvereinbarung-2 .wpcf7 span.wpcf7-list-item,
body.terminvereinbarung-3 .wpcf7 span.wpcf7-list-item,
body.terminvereinbarung-4 .wpcf7 span.wpcf7-list-item,
body.terminvereinbarung-5 .wpcf7 span.wpcf7-list-item {
width: 100%;
}


body.terminvereinbarung .wpcf7 textarea,
body.terminvereinbarung-2 .wpcf7 textarea,
body.terminvereinbarung-3 .wpcf7 textarea,
body.terminvereinbarung-4 .wpcf7 textarea,
body.terminvereinbarung-5 .wpcf7 textarea {
height: auto !important;
}


.ui-slider-float .ui-slider-tip, .ui-slider-float .ui-slider-tip-label {
    position: absolute;
    visibility: hidden;
    top: -40px;
    display: block;
    width: 35px;
    margin-left: -18px;
    left: 50%;
    height: 20px;
    line-height: 20px;
    background: none;
    border-radius: 0px;
    border: 0px;
    text-align: center;
    font-size: 12px;
    opacity: 0;
    color: #fff;
    -webkit-transition-property: opacity, top, visibility;
    transition-property: opacity, top, visibility;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 200ms, 200ms, 0ms;
    transition-duration: 200ms, 200ms, 0ms;
    -webkit-transition-delay: 0ms, 0ms, 200ms;
    transition-delay: 0ms, 0ms, 200ms;
}


.no-margin-top {
	margin-top: 0px;
}
.no-margin-bottom {
	margin-bottom: 0px;
}

.small-margin-bottom {
	margin-bottom: 0.5em;	
}

.large-margin-top {
	margin-top: 40px;
}

.very-large-margin-top {
	margin-top: 60px;
}

.irs--flat .irs-min, .irs--flat .irs-max {
	display: none;
}

.irs--flat .irs-line {
	    top: 30px;
    height: 1px;
    background-color: #fff;
	border-radius: 0px;
}

.irs--flat .irs-bar {
	background-color: #fff;
	    top: 29px;
    height: 4px;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
	display: none
}

.irs--flat .irs-handle {
	height: 30px;
}

.irs--flat .irs-handle>i:first-child {
	    position: absolute;
    display: block;
    top: -7px;
    left: 50%;
    width: 5px;
    height: 100%;
    margin-left: -1px;
    background-color: #fff;	
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	    background-color: transparent;
	border-radius: 0px;
}



	body.gewinnspiel .wpcf7 p input[type="email"] {
		width: 100%;
	}
	body.gewinnspiel .wpcf7 .btn {
		float: left;
	}
	body.gewinnspiel .wpcf7 .btn-start {
		display: inline-block;
		float: right;
		line-height: normal;
	}
	
.lowercase {
	text-transform: none;
}

#mc4wp-form-1 p input[type="text"], #mc4wp-form-1 p textarea, #mc4wp-form-1 p input[type="email"], #mc4wp-form-1 p select, .wpcf7 p input[type="text"], .wpcf7 p textarea, .wpcf7 p input[type="email"], .wpcf7 p select, .wpcf7 select{
    color: #fff;
    height: 42px;
    margin-left: 4%;
    margin-top: 2px;
    outline: 0 none;
    width: 47%;
    font-size: 14px;
    line-height:15px;
  	padding: 3px 8px;
  	border: none;
  	border: solid 1px #fff;
	float: right;
	/*text-transform: uppercase;*/
	border-radius: 0;
	background: none;
}

body.terminvereinbarung .wpcf7 textarea, body.terminvereinbarung-2 .wpcf7 textarea, body.terminvereinbarung-3 .wpcf7 textarea, body.terminvereinbarung-4 .wpcf7 textarea, body.terminvereinbarung-5 .wpcf7 textarea {
	float: none !important;
    margin-left: 0 !important;
}

.wpcf7 textarea[name="textarea-anmerkungen"] {
  margin-top: 10px;
}

.wpcf7 p textarea {
	width: 100%;
}

.wpcf7-list-item {
	margin-left: 0 !important;
}

/*

body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item {
	line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
	  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  transform: translateY(-0.075em);
	 display: grid;
  place-content: center;
}

body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]::before,
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]::before,
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]::before,
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]::before,
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}


body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked::before,
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked::before,
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked::before,
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked::before,
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked::before {

  transform: scale(1);
}


*/

body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item,
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item {
	display: inline-flex;
    cursor: pointer;
    position: relative;
}

body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"],
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"] {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #fff;
    outline: none;
    transition-duration: 0.3s;
    background-color: #21546c;
    cursor: pointer;
}

body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked,
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked,
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked,
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked,
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item input[type="checkbox"]:checked {
	border: none;
	background-color: #fff;
}


body.terminvereinbarung .wpcf7-checkbox .wpcf7-list-item span,
body.terminvereinbarung-2 .wpcf7-checkbox .wpcf7-list-item span,
body.terminvereinbarung-3 .wpcf7-checkbox .wpcf7-list-item span,
body.terminvereinbarung-4 .wpcf7-checkbox .wpcf7-list-item span,
body.terminvereinbarung-5 .wpcf7-checkbox .wpcf7-list-item span {
    padding: 2px 0 0 10px;
}




body.newsletter #mc4wp-form-1, body.termin .wpcf7, #wpcf7-f1551-p1552-o1 {

}


.checkbox-horizontal {
	width: 100%;
}

.checkbox-horizontal .wpcf7-list-item {
	width: 200px !important;
}

.checkbox-horizontal.planung-einrichtung .wpcf7-list-item:last-child {
	width: 300px !important;
}

.checkbox-two-column {
	width: 100%;
}
.checkbox-two-column .wpcf7-list-item {
	
}
.checkbox-two-column .wpcf7-list-item:nth-child(even) {
	width: 200px !important;
}
.checkbox-two-column .wpcf7-list-item:nth-child(odd) {
	width: 200px !important;
}




input::-webkit-input-placeholder {
color: #fff !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;
}

input:-ms-input-placeholder {
color: #fff !important;
}

input:focus::-webkit-input-placeholder { color: #53D14C; }
input:focus:-moz-placeholder { color: #53D14C; } /* FF 4-18 */
input:focus::-moz-placeholder { color: #53D14C; } /* FF 19+ */
input:focus:-ms-input-placeholder { color: #53D14C; } /* IE 10+ */


#mc4wp-form-1 p input[type="text"]:first-child, #mc4wp-form-1 p textarea:first-child, #mc4wp-form-1 p input[type="email"]:first-child, #mc4wp-form-1 p select:first-child, .wpcf7 p input[type="text"]:first-child, .wpcf7 p textarea:first-child, .wpcf7 p input[type="email"]:first-child, .wpcf7 p select:first-child{
    margin-left: 0px;
	float:none;
}

#mc4wp-form-1 p input[type="email"]{
    width: 100%;
min-width: 700px;
}

#mc4wp-form-1 p input[type="text"]:focus, #mc4wp-form-1 p input[type="email"]:focus, #mc4wp-form-1 p textarea, #mc4wp-form-1 p select, .wpcf7 p input[type="text"]:focus, .wpcf7 p input[type="email"]:focus, .wpcf7 p textarea, .wpcf7 p select{
  border: solid 1px #fff;
}



#mc4wp-form-1 textarea, .wpcf7 textarea{
    padding: 5px 3px 3px 5px;
}
#mc4wp-form-1 select, .wpcf7 select {
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
#mc4wp-form-1 textarea, .wpcf7 textarea{
    height:100px;
}
#mc4wp-form-1 .button, .wpcf7 .button {
    background: #fff;
    border: none;
    padding: 10px 30px;
    color: #53D14C;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;

}
#mc4wp-form-1 .button:hover, .wpcf7 .button:hover {
    background: #eee
}

.small {
    font-size: 12px;
    text-transform: none;
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
    width: 49%;
  line-height: 24px;
  font-size: 12px;
text-transform: none;
}
.mc4wp-form a {
	color: #fff;
}
	.mc4wp-form a:hover {
		color: #ccc;
	}


.control-large {
  width: 400px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #fff;
}
.control input:checked ~ .control__indicator {
  background: #fff;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fff;
}
.control input:disabled ~ .control__indicator {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #53D14C;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.btn {
display: block;
color: #53D14C;
  font-size: 14px !important;
  background: #fff !important;
  padding: 10px 40px !important;
  text-decoration: none !important;
  margin: 20px auto 0;
text-transform: uppercase;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.4s;
border: 1px solid #fff !important;
}

.btn:hover {
  background: #53D14C;
  text-decoration: none;
    color: #00546c !important;
border: 1px solid #00546c !important;
	font-weight: bold;
}

.wpcf7 .btn {
	color: #00546c;
}
.wpcf7 .btn:hover {
  background: #00546c;
  text-decoration: none;
    color: #00546c !important;
border: 1px solid #00546c !important;
	font-weight: bold;
}




.wpcf7 select {
  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%) !important;
  background-position:
    calc(100% - 20px) calc(1em + 5px),
    calc(100% - 15px) calc(1em + 5px),
    100% 0 !important;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em !important;
  background-repeat: no-repeat !important;
}

.wpcf7 select:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%) !important;
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0 !important;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em !important;
  background-repeat: no-repeat !important;
  outline: 0 !important;
}

.wpcf7 a {
	color: #fff;
}


/*--------------------------------------------------------------
## DMO
--------------------------------------------------------------*/
.dmo-box {
	width: 240px;
	height: 240px;
	margin-right: 35px;
	float: left;
	font-size: 12px;
  position: relative;
}
	.dmo-box h1 {
		font-size: 21px;
		text-transform: uppercase;
		color: #fff !important;
	}
	.dmo-box:last {
		margin-right: 0;
	}
	.dmo-box .content {
		position: absolute;
		bottom: 0;
		left: 0;
	  padding: 0 15px 0;
	  text-align: center;
		font-size: 15px;
    width: 100%;
	}
		a .dmo-box {
			color: #fff !important;
		}
		a .dmo-box .overlay {
			background:rgba(255,255,255,.75);
			-webkit-transition: opacity .25s ease;
			-moz-transition: opacity .25s ease;
			opacity:0;
			position: absolute;
			width: 100%;
			height: 100%;
		}
			a:hover .dmo-box .overlay {
				opacity:0.3;
			}


.design-moebel-outlet .entry-content {
	width: 1100px;
	height: 255px;
	position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dmo23 {
	background: url(img/dmo_kachel_accessoires.svg);
	background-size: 100%;
}
.dmo13 {
	background: url(img/dmo_kachel_kastenmoebel.svg);
	background-size: 100%;
}
.dmo22 {
	background: url(img/dmo_kachel_lampen.svg);
	background-size: 100%;
}
.dmo15 {
	background: url(img/dmo_kachel_polstermoebel.svg);
	background-size: 100%;
}
.dmo14 {
	background: url(img/dmo_kachel_tischeundstuehle.svg);
	background-size: 100%;
}
.dmo-logo {
	background: url(img/dmo_kacheln_logo.svg);
	background-size: 100%;
	height: 288px;
}


/*--------------------------------------------------------------
# Kontakt
--------------------------------------------------------------*/

img.kontaktbild {
	backface-visibility: visible !important;
  position: relative !important;
  left: auto !important;
  top: auto !important;
  z-index: auto !important;
  max-width: none !important;
  height: 210px !important;
  width: 140px !important;
	float: left;
}

.ansprechpartner {
	position: relative;
	height: 210px;
}

.ansprechpartner_content {
	position: absolute;
	bottom: 0;
	margin: 0 0 0 150px;
}
.ansprechpartner_content p {
	margin: 0;
}

.oeffnungszeiten {
  padding-top: 1px;
	clear: both;
}

.kontaktdaten{
  margin-bottom: 20px;
}


.modal a.close-modal {
  /*display: none;*/
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 500px;
    box-sizing: border-box;
    width: 90%;
    background: #fff;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

div.wpcf7 .ajax-loader {
	display: none !important;
}


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media only screen and (max-device-width : 414px)  {
	body.gewinnspiel span.wpcf7-list-item {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
}
	body.gewinnspiel .entry-content{
		margin-top: 80px;
	}
	body.gewinnspiel .wpcf7 {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		color: #fff;
		text-transform: uppercase;
		padding: 15px 20px 0 !important;
	}
	
	
	body.gewinnspiel .wpcf7 .btn {
		padding: 10px 20px !important;
	}
	
.navigation {
	overflow: scroll;
}
	#navigation-list {
	margin-top: 120px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	}
	.slides-navigation .prev, .slides-navigation .next {
		background-size: 100%;
		width: 20px;
    height: 37px;
	}
	.logo {
		width: 170px;
		z-index: 222;
	}

	.tooltip-content {
		display: block;
		position: absolute;
		bottom: 50px;
		overflow: auto;
		padding: 15px 20px;
	  width: 100%;
	}
	.desc{
		width: 100% !important;
		bottom: 90px !important;
		overflow: auto;
		padding: 0;
	}
	.title {
		margin: 0;
		padding: 0;
	}
	.tooltip-content-fullscreen, .navigation{
		background: #fff !important;
	}
	.tooltip-content-fullscreen .desc{
		padding: 15px 20px 0 !important;
	}
	.tooltip-wrapper, .lichtplanung .tooltip-wrapper, .schreinerkueche .tooltip-wrapper, .bulthaup-kuechen .tooltip-wrapper, .leicht-kuechen .tooltip-wrapper {
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 7777;
    position: absolute;
    left: 0;
    margin: 0;
    display: block;
    right: 0;
    /* text-align: center; */
	}
	.tooltip, .lichtplanung .tooltip, .schreinerkueche .tooltip, .bulthaup-kuechen .tooltip, .leicht-kuechen .tooltip {
    float: none;
    width: 100%;
    background-image: url(img/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    padding: 0;
    min-height: 40px;
	}
	.tooltip-clickable {
		width: 40px;
		height: 40px;
		display: block;
		position: relative;
		bottom: 0;
		margin-left: 0;
		z-index: 9999;
		cursor: pointer;
		margin: 0 auto;
	}
	.design-moebel-outlet .entry-content {
		width: 100%;
	}
	.design-moebel-outlet .site-footer {
		display: none;
	}
	.dmo-box {
		float: none;
    margin: 0 auto 30px;
	}
	.navigation_hint {
		display: none !important;
	}

  body.newsletter #mc4wp-form-1, body.termin .wpcf7, #wpcf7-f1551-p1552-o1 {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 35%;
    text-align: center;
  }

  #mc4wp-form-1 p input[type="text"], #mc4wp-form-1 p textarea, #mc4wp-form-1 p input[type="email"], #mc4wp-form-1 p select {
    color: #fff;
    height: 42px;
    margin: 1.5em 0 0;
    outline: 0 none;
      width: 75%;
    font-size: 14px;
    line-height: 15px;
    padding: 3px 8px;
    border: none;
    border: solid 1px #fff;
    float: none;
    text-transform: uppercase;
    border-radius: 0;
    background: none;
      display: inline;
  }

  #mc4wp-form-1 p input[type="email"] {
    width: 75%;
    min-width: 0;
    margin-top: 0;
  }
	
	
	
	
body.terminvereinbarung .wpcf7,
body.terminvereinbarung-2 .wpcf7,
body.terminvereinbarung-3 .wpcf7,
body.terminvereinbarung-4 .wpcf7,
body.terminvereinbarung-5 .wpcf7 {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 35%;
	padding: 0 10px;
}

	.control {
		width: 74%;
		text-align: left;
	}

	.termin .site-footer,
	.newsletter .site-footer,
	.gewinnspiel .site-footer,
	.terminvereinbarung .site-footer,
	.terminvereinbarung-2 .site-footer,
	.terminvereinbarung-3 .site-footer,
	.terminvereinbarung-4 .site-footer,
	.terminvereinbarung-5 .site-footer
	{
		position: relative;
		bottom: 5px;
    	right: 9px;
		text-align: right;
	}

}

/* Smartphone landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 680px) {
		.logo {
			width: 170px;
			z-index: 222;
		}
		.navigation {
			overflow: scroll;
		}
			#navigation-list {
			margin-top: 80px;
	    margin-left: auto;
	    /* margin-right: auto; */
	    max-width: 90%;
			}
		.navigation_hint {
			display: none !important;
		}
		.slides-navigation .prev, .slides-navigation .next {
			background-size: 100%;
			width: 20px;
	    height: 37px;
		}

		.tooltip-content {
			display: block;
			position: absolute;
			bottom: 50px;
			overflow: auto;
			padding: 15px 20px;
		}
		.desc{
			width: 100% !important;
			bottom: 90px !important;
			overflow: auto;
			padding: 0;
		}
		.title {
			margin: 0;
			padding: 0;
		}
		.design-moebel-outlet .entry-content {
			width: 100%;
			top: 200px;
			bottom: auto;
		}
		.design-moebel-outlet .site-footer {
			display: none;
		}
		.dmo-box {
			float: none;
	    margin: 0 auto 30px;
		}
			.dmo-box:first-child, .dmo-box:nth-child(3) {
				float: left;
				margin-left: 120px;
			}
			.dmo-box:nth-child(2), .dmo-box:nth-child(4) {
				margin-left: 390px;
			}
		.tooltip-content-fullscreen, .navigation{
			background: #fff !important;
		}
		.tooltip-content-fullscreen .desc{
			padding: 15px 20px 0 !important;
		}
		.tooltip-wrapper, .lichtplanung .tooltip, .schreinerkueche .tooltip, .bulthaup-kuechen .tooltip, .leicht-kuechen .tooltip {
	    width: 100%;
	    position: absolute;
	    bottom: 40px;
	    z-index: 7777;
	    position: absolute;
	    left: 0;
	    margin: 0;
	    display: block;
	    right: 0;
	    /* text-align: center; */
		}
		.tooltip, .lichtplanung .tooltip, .schreinerkueche .tooltip, .bulthaup-kuechen .tooltip, .leicht-kuechen .tooltip {
	    float: none;
	    width: 100%;
	    background-image: url(img/plus.svg);
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 40px;
	    padding: 0;
	    min-height: 40px;
		}
		.tooltip-clickable {
			width: 40px;
			height: 40px;
			display: block;
			position: relative;
			bottom: 0;
			margin-left: 0;
			z-index: 9999;
			cursor: pointer;
			margin: 0 auto;
		}
    #mc4wp-form-1 p input[type="email"] {
      width: 100%;
      min-width: 581px;
    }
}

/* Tablet Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
	body.gewinnspiel .wpcf7 {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		color: #fff;
		text-transform: uppercase;
		padding: 15px 20px 0 !important;
	}
	.navigation {
		overflow: hidden;
	}
		.design-moebel-outlet .entry-content {
			width: 100%;
			top: 200px;
			bottom: auto;
		}
		.dmo-box {
			float: none;
	    margin: 0 auto 30px;
		}
			.dmo-box:first-child, .dmo-box:nth-child(3) {
				float: left;
				margin-left: 120px;
			}
			.dmo-box:nth-child(2), .dmo-box:nth-child(4) {
				margin-left: 390px;
			}
		.tooltip-wrapper{
			margin: 0 20px 10px 0;
			width: 370px;
		}
		.lichtplanung .tooltip-wrapper, .kueche .tooltip-wrapper, .schreinerkueche .tooltip-wrapper, .bulthaup-kuechen .tooltip-wrapper, .leicht-kuechen .tooltip-wrapper{
			margin: 0 20px 10px 0;
		}
		.tooltip{
    	width: 100%;
		}
		.lichtplanung .tooltip, .kueche .tooltip, .schreinerkueche .tooltip, .bulthaup-kuechen .tooltip, .leicht-kuechen .tooltip {
    	width: 100px;
		}
.tooltip-content-fullscreen .desc { bottom: 100px; }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
		.logo {
			width: 260px;
		}
}

/* iPhone 4 Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px){

			.design-moebel-outlet .entry-content {
				width: 100%;
				top: 200px;
				bottom: auto;
			}
			.dmo-box {
				float: none;
				margin: 0 auto 30px;
			}
				.dmo-box:first-child, .dmo-box:nth-child(3) {
					float: none;
					margin-left: 120px;
				}
				.dmo-box:nth-child(2), .dmo-box:nth-child(4) {
					margin-left: 390px;
				}
}


.cli-tab-footer .cli-btn {
  background-color: #000;
}

a.cli_setting_save_button {
  font-size:0;
}

a.cli_setting_save_button:after {
  content: 'speichern & akzeptieren';
  font-size:14px;         /* original font size */
}

span.cli-necessary-caption {
  font-size:0;
}

span.cli-necessary-caption:after {
  content: 'immer aktiviert';
  font-size:12px;         /* original font size */
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}